<%- include('../_layouts/adminheader'); %>
<br></br>
<div class="container">

    <h2 class="page-title mb-3">Add a page</h2>
    <a href="/admin/pages" class="btn btn-primary">Back to all pages</a>
    <br></br>

    <form method = "post" action="/admin/pages/add-page">
        <div class="mb-3">
            <label for="">Title</label>
            <input type="text" name="title" value="<%= title %>" class="form-control" placeholder="Title">
        </div>

        <div class="mb-3">
            <label for="">Slug</label>
            <input type="text" name="slug" value="<%= slug %>" class="form-control" placeholder="Slug">
        </div>

        <div class="mb-3">
            <label for="">Content</label>
            <textarea name="content" cols="30" rows="10" class="form-control" placeholder="Content"><%= content %></textarea>
        </div>
        <button class="btn btn-outline-primary">Submit</button>
    </form>
</div>

<%- include('../_layouts/adminfooter'); %>